.GameContainer{
  display: flex;
  img{
    width:100%;
  }
}

.Modal{
  height:500px;
  width:800px;
  background-color: purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 20;
  top: 100px;
  left:20vw;

  h1,h2,h3{
    text-align: center;
    color: white;
  }
  button{
    position: relative;
    bottom:0;
    background-color: white;
    color:black;
    font-size: large;
    font-weight: 500;
    border:1px solid black;
    width:200px;
    height:50px;
    margin-bottom: 20px;
    &:hover{
      cursor: pointer;
      font-weight: 600;
    }
  }
  @keyframes modalAnimation{
    0%{
      display: none;
      opacity: 0;
    }
    100%{
      display: block;
      opacity: 1;
    }
  }
  animation-name: modalAnimation;
  animation-duration: 5000ms;
  animation-fill-mode: forwards;
}
.Overlay{
  opacity: 30%;
  background-color: black;
  top:0;
  bottom:0;
  left:0;
  right:0;
  position: fixed;
  z-index: 5;
}

